@import "tailwindcss";

@font-face {
    font-family: "Pouler";
    src:
        url("/fonts/pouler/Pouler.woff2") format("woff2"),
        url("/fonts/pouler/Pouler.woff") format("woff"),
        url("/fonts/pouler/Pouler.otf") format("opentype");
    font-weight: 300-900;
    font-style: normal, italic;
}

@theme {
    --color-background: var(--color-white);
    --color-foreground: var(--color-black);
    --color-background-muted: var(--color-neutral-50);
    --color-foreground-muted: var(--color-neutral-500);
    --color-border: var(--color-neutral-300);
    --color-border-muted: var(--color-neutral-100);
    --font-headline: "Pouler", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--color-black);
        --color-foreground: var(--color-white);
        --color-background-muted: var(--color-neutral-950);
        --color-foreground-muted: var(--color-neutral-300);
        --color-border: var(--color-neutral-700);
        --color-border-muted: var(--color-neutral-900);
    }
}

body {
    @apply bg-background text-foreground;
}

@layer utilities {
    .absolute-full {
        @apply absolute inset-0 size-full;
    }
}
